/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/resources/views/QuickMed/*.txt
/public/img/QuickMed1/
/public/fonts/
/public/css/
/public/js/