html, body{
	height: 100%;
	font-family: Ubuntu; 
	/*'Playfair Display', 'Droid Sans',Roboto, Monda, ABeeZee, 'Josefin Slab';*/
}

.main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.contents{
    flex: 1 0 auto;
  }


.navbar{
	padding: 1% 0;
	background-color: peachpuff;
	border-bottom: 0;
}

.navbar-brand{
	font-size: 30px;
	border-bottom: 3px solid #94ccd3;
	border-radius: 10px;
}

#nav1{
	padding-right: 2%;
	padding-left: 2%;
}
.nav2 a{
	text-decoration: none;
} 

.nav2 a:hover{
	border-bottom: 5px solid #94ccd3;
}

.nav2{
	color: #94ccd3 !important;
	font-size: 20px;
	margin-top: 5%;
	border: none;
	padding-top: 2%;
	padding-bottom: 2%; 
	z-index: 1300;
	margin-bottom: 0;
}

.nav2 li{
		padding: 0 10%;
}

#nav-link{
	margin-right: 10%;
}

.checkbox label{
	color: #337ab7;
}

.top{
	height: 100vh;
	background-color: peachpuff;
	padding-top: 2%;
	/*padding-bottom: 7%;*/
}
.top .img-responsive {
    margin: 0 auto;
}

.top p{
	color: black;
}

.top h1, .serv h1{
	font-size: 45px;
}

i{
	animation: 3s ease-in 1s 2 reverse both paused slidein;
}

@media(max-width: 425px) {
  .top{
  	padding-top: 10%;
  }

  .nav2 li{
  	padding: 0 2%;
  }

  .nav2{
  	margin-top: 16%;
  	padding-left: 10%;
  	z-index: 1;
  }

  .top h1, .serv h1{
	font-size: 30px;
	}

}

.serv img{
	max-height: 176px !important;
}

.show{
	background-image: url('/img/cross.jpg');
	background-attachment: fixed;
}
.panel-body{
	background-image: url('/img/stok.jpg');
}

.fdbk{
	/*height: 100%;*/
	background-image: url('/img/care.jpg');
	background-attachment: fixed;
}
.fdbk > #fdbk{
	background-color: linen;
	padding: 5% 0;
	border-radius: 10px;
}

.fdbk > #pers{
	background-color: linen;
	padding: 2% 0;
	border-radius: 10px;
}


footer{
	border-top: 10px solid oldlace;
	padding: 2% 0%;
	background-color: peachpuff;
}

a.up{
	position: relative;
	bottom: 0px;
	right: 0px;
	margin-left: 50px;
	padding: 5px;
	background-color: red;
	border: 3px solid indigo;
	z-index: 99;
}