html, body{
	height: 100%;
}


.top{
	height: 100%;
	background-color: peachpuff;
	padding-top: 7%;
}
.top p{
	color: black;
}


.top h1, .next h1{
	font-size: 45px;
}

.next{
	padding: 5%;
	color: grey;
}
.next img{
	max-height: 176px !important;
}

.nav{
	position: absolute;
	top: 20px;
	right: 20px;
}

.nav a{
	color: #8a2be2;
	opacity: 0.5;
	font-size: 20px;
}
.nav a:hover{
	border: 2px solid white;

	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
}
.top img{
	padding-left: 100px;
}
.button{
	padding-left: 33%;
}

footer{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 2%;
	background-color: peachpuff;
	color: #8a2be2;
	
}